@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<h3>@ViewBag.Message</h3>

<body>
    <section id="main">
        <p>
            A reliable lost and found service is an invaluable service so we figured why not create one!<br>
            It all began many moons ago when I lost my purse in college. I had no idea where to begin looking.<br>
            I then thought to myself wouldn't it be convenient to have a medium through which I could search all of the potential places I lost it at once?! And so the idea was born.
        </p>

    </section>
</body>


