@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p> If you have any queries please do not hesitate to contact us. 
    If you would like to edit any of the information in you're post please contact us here and we will do it for you.
    </p>

<address>
    312 IT Department<br />
    NUI Galway<br />
    Galway<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:w.timmins1@nuigalway.ie">w.timmins1@nuigalway.ie</a><br />
    
</address>