@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Lost & Found</h1>
    <p class="lead">Lost something? Found something?<br> Here we have created a conveient way to quickly trace any missing items. Simply log in to view listings about items that have been found or post about something you have found yourself. An easy way to reunite people with their lost things!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Getting started</h2>
        <p>
            Simply register your information, an email address and password in order to become a member of the site. Once you have registered you can post about items you have found or search through the listings for something you may have lost.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Authentication</h2>
        <p>Remember, items can not be returned to owners unless they can prove that the item is theirs. For example, if you've lost your wallet, be able to account for something that is inside of it like your id, or a defining feature of the wallet. We want items to be returned to their rightful owners.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div> 
</div>