@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Lost & Found</h1>
    <p class="lead">Lost something? Found something?<br> Here we have created a conveient way to quickly trace any found or missing items. Simply log in to view listings about items that have been lost and found or post about something you have found or lost yourself. An easy way to reunite people with their belongings!</p>
    
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Getting started</h2>
        <p>
            Simply register your information, an email address and password, in order to become a member of the site. Once you have registered you can post about items you have found or search through the listings for something you may have lost.
            You can also the users page which contains a list of users you made need to contact if their post is relevant to you. 
            If you wish to delete or edit an item please contact the site admin to do this for you. 
        </p>
        
    </div>
    <div class="col-lg-4">
        <h2>Authentication</h2>
        <p>Remember, items can not be returned to owners unless they can prove that the item is theirs. For example, if you've lost your wallet, be able to account for something that is inside of it like your id, or a defining feature of the wallet. We want items to be returned to their rightful owners.
        To log in or register, simply follow the link in the navigation bar or click on the button below. </p>
        <p><a class="btn btn-default" href="Account/Login.cshtml">Learn more &raquo;</a></p>
    </div> 
</div>