@model IEnumerable<PFT.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Item Statistics";
}

<h2> Item Statistics</h2>

<table>
    <tr>
        <th>
            Email Address
        </th>
        <th>
           Items
        </th>
    </tr>


</table>

    <h2> About Us.</h2>

<body>
<section id="main">
    <p>
        A reliable lost and found service is an invaluable service so we figured why not create one!<br>
        It all began many moons ago when I lost my purse in college. I had no idea where to begin looking.<br>
        I then thought to myself wouldn't it be convenient to have a medium through which I could search all of the potential places I lost it at once?! And so the idea was born.
    </p>
    <!--form method="Get" action="Profile.asp">
        <p>Please enter your first name: <br>
        <input type="Text" name="FirstName"><br>
        Please enter your last name:  <br>
        <input type="Text" name="LastName"><br>
        Please enter your age: <br>
        <input type="Text" name="Age">
        <input type="Hidden" name="UserStatus" value="New">
        <input type="Submit" value="Enter">
        </p>
    </!--form--> 
    
</section>
</body>